Sphinx
furo
sphinx-autodoc-typehints
sphinx-basic-ng
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
readme_renderer
coverage
coverage-badge
pytest
pytest-asyncio
pytest-cov
aiohttp
zeroconf
bleak
sphinx-sitemap
sphinxext-opengraph
myst-parser
sphinx_copybutton
sphinx_inline_tabs
sphinx_design
sphinxcontrib-mermaid
gatenet
fastapi
uvicorn
httpx
rich
numpy
matplotlib